# You can get this file by clicking the Download button for the credentials 
# in the Manage tab of your service instance.
ASSISTANT_APIKEY=
ASSISTANT_IAM_APIKEY=
ASSISTANT_URL=
ASSISTANT_AUTH_TYPE=

# This variable is added manually
# Where to find the ASSISTANT_ID https://stackoverflow.com/questions/56080815/where-can-i-find-the-watson-assistant-id-for-invoking-requests
ASSISTANT_ID= 
