CERT=/etc/letsencrypt/live/dns-name-2.australiaeast.cloudapp.azure.com/fullchain.pem
KEY=/etc/letsencrypt/live/dns-name-2.australiaeast.cloudapp.azure.com/privkey.pem
PASSPHRASE=super secret passphrase
USE_HTTPS=true
